.Square-box{
    display: inline-block;
    margin: 10px;
    /* background-color: rgba(85, 177, 177, 0.74); */
   
    background-image: linear-gradient(to bottom right, rgb(44, 177, 148), rgb(180, 180, 87));
 
    padding: 5px;
    width: 200px;
    border-radius: 5%;

    box-shadow: 5px 10px rgba(79, 128, 0, 0.548);
    

}
.Square-title{
    color: rgb(9, 62, 87);
    font-size: large;
    margin: 15px;

}
.Square-img{
    
}
.Square-type{
    color: rgba(85, 4, 192, 0.877);
    
}
.Square-exp{
    color: rgba(15, 48, 238, 0.815);
}